{% extends "layout.html" %}

{% block content %}
<div class="container">

    <div class="col-lg-12 col-md-12 col-sm-12">

        <div class="students" id="student-list">
            <h3>Class List</h3>
            {% for class in classes%}
            <p>
            <li id="deleteItem"  class="col-lg-8">
                <a value={{class}}  href="/api/class/{{class}}">{{class}} </a>
            </li>

            </p>
            {% endfor %}
        </div>

    </div>

</div><!-- /.container -->

{% endblock %}